$square-width: min(5vw, 7vh);

body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

#checkerBoard {
    position: relative;
    width: calc(8 * $square-width);
    left: calc(50vw - (4 * $square-width));
}

#playerTurnHeader {
    text-align: center;
}

.black-square, .red-square, .checker {
    --x: 0;
    --y: 0;
    width: min(5vw, 7vh);
    aspect-ratio: 1 / 1;
}

.black-square {
    background-color: black;
}

.red-square {
    background-color: red;
}

.checker {
    position: absolute;
    top: calc($square-width * var(--y));
    left: calc($square-width * var(--x));
}