$square-width: min(5vw, 7vh);
$top: calc($square-width * var(--y));
$left: calc($square-width * var(--x));
$marker-width: calc($square-width / 2);

body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

#checkerBoard {
    position: relative;
    width: calc(8 * $square-width);
    left: calc(50vw - (4 * $square-width));
}

#playerTurnHeader {
    text-align: center;
}

.black-square, .red-square, .checker {
    --x: 0;
    --y: 0;
    width: $square-width;
    aspect-ratio: 1 / 1;
}

.black-square {
    background-color: black;
}

.red-square {
    background-color: red;
}

.checker {
    position: absolute;
    top: $top;
    left: $left;
}

.moveMarker {
    --x: 0;
    --y: 0;
    width: $marker-width;
    height: $marker-width;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: calc($top + (($square-width - $marker-width) / 2));
    left: calc($left + (($square-width - $marker-width) / 2));
}