$h1-font-size: min(clamp(2rem, 1rem + 5vw, 3.5rem), clamp(2rem, 1rem + 5vh, 3.5rem));
$TurnHeader-font-size: min(clamp(1.25rem, 0.875rem + 3vw, 2.25rem), clamp(1.25rem, 0.875rem + 3vh, 2.25rem));

$board-margin: max(8px, env(safe-area-inset-left), env(safe-area-inset-right));
$board-short: min(100vw, calc(100svh - $h1-font-size - $TurnHeader-font-size - 20px));
$board-size: calc($board-short - (2 * $board-margin));

$square-width: clamp(32px, calc($board-size / 8), 100px);
$marker-width: calc($square-width / 2);
$marker-offset: calc(($square-width - $marker-width) / 2);

body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-size: $h1-font-size;
    font-weight: bold;
    margin: 0;
    color: purple;
}

#restartButton {
    font-size: min(clamp(.75rem, 0.5rem + 1.5vw, 1rem), clamp(.75rem, 0.5rem + 1.5vh, 1rem));
    font-weight: bold;
    border-radius: 8px;
    background-color: lavender;
    margin-right: calc($square-width /2);
}

#checkerBoard {
    position: relative;
    width: calc(8 * $square-width);
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}

#secondHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: calc($square-width * 8);
}

#playerTurnHeader {
    font-size: $TurnHeader-font-size;
    margin: 0;
    margin-bottom: 4px;
    flex-grow: 1;
    text-align: center;
}

.board-row {
    display: flex;
}

.black-square,
.red-square,
.checker {
    width: $square-width;
    aspect-ratio: 1 / 1;
}

.black-square {
    background-color: black;
}

.red-square {
    background-color: red;
}

.checker {
    position: absolute;
    top: calc(var(--y, 0) * $square-width);
    left: calc(var(--x, 0) * $square-width);
}

.moveMarker {
    width: $marker-width;
    height: $marker-width;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: calc(var(--y, 0) * $square-width + $marker-offset);
    left: calc(var(--x, 0) * $square-width + $marker-offset);
}
